.App {

}

.Navbar {
  background-color: cornflowerblue;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10%;
  color: white;
}

.NavLink {
  &:hover {
    color: black;
    cursor: pointer;
  }
}

.Container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20%;
  margin: 5% 0 0 0 ;

}